extends ./layout

block content
    .row
        form.form-horizontal(method="post", action="/admin/new")
            input(type="hidden", name="movie[_id]", value=movie._id)
            .form-group
                label.col-sm-2.control-label(for="inputTitle") 电影名字
                .col-sm-10
                    input#inputTitle.form-control(type="text", name="movie[title]", value=movie.title)
            //- .form-group
            //-     label.col-sm-2.control-label(for="category") 分类
            //-     .col-sm-10
            //-         input#category.form-control(type="text", name="movie[category]", value=movie.category)
            .form-group
                label.col-sm-2.control-label(for="inputDoctor") 导演
                .col-sm-10
                    input#inputDoctor.form-control(type="text", name="movie[doctor]", value=movie.doctor)
            .form-group
                label.col-sm-2.control-label(for="inputCountry") 国家
                .col-sm-10
                    input#inputCountry.form-control(type="text", name="movie[country]", value=movie.country)
            .form-group
                label.col-sm-2.control-label(for="inputLanguage") 语言
                .col-sm-10
                    input#inputLanguage.form-control(type="text", name="movie[language]", value=movie.language)
            .form-group
                label.col-sm-2.control-label(for="inputPoster") 海报地址
                .col-sm-10
                    input#inputPoster.form-control(type="text", name="movie[poster]", value=movie.poster)
            .form-group
                label.col-sm-2.control-label(for="inputFlash") 片源地址
                .col-sm-10
                    input#inputFlash.form-control(type="text", name="movie[flash]", value=movie.flash)
            .form-group
                label.col-sm-2.control-label(for="inputYear") 上映年份
                .col-sm-10
                    input#inputYear.form-control(type="text", name="movie[year]", value=movie.year)
            .form-group
                label.col-sm-2.control-label(for="inputSummary") 简介
                .col-sm-10
                    input#inputSummary.form-control(type="text", name="movie[summary]", value=movie.summary)
            .form-group
                .col-sm-offset-6.col-sm-9
                    button.btn.btn-success(type="submit") 录入
