<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('common/head'); %>
  <title><%= title %></title>
</head>
<body>
  <%- include('common/header'); %>
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <embed src="<%= movie.flash%>" allowFullScreen="true",
        quality="high" width="720" height="600" type="application/x-shockwave-flash">
      </div>
      <div class="col-md-5">
        <dl class="dl-horizontal">
          <dt>电影名字</dt>
          <dd><%= movie.title %></dd>
          <dt>导演</dt>
          <dd><%= movie.doctor %></dd>
          <dt>国家</dt>
          <dd><%= movie.country %></dd>
          <dt>语言</dt>
          <dd><%= movie.language %></dd>
          <dt>上映年份</dt>
          <dd><%= movie.year %></dd>
          <dt>简介</dt>
          <dd><%= movie.summary %></dd>
        </dl>
      </div>
    </div>
  </div>
</body>
</html>